*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #081b31 ;
    color: white;
    height: 5rem ;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.board{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
}
#user,#comp{
font-size: 4rem;
}
.msg{
    margin-top: 3rem;
}
#output{
background-color: #081b31;
color: white ;
height: 4rem;
font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1rem;

}